html,
body {
  height: 100%;
  margin: 0;
}
h1{
  text-align: center;
}

.container{
  display: flex;
  margin: 20px;
  justify-content: center;
}

input {
  padding: 12px;
  background-color: #EAEAEA;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  margin-right: 8px;
}

select{
  padding: 12px;
  background-color: #EAEAEA;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  margin-right: 8px;
  flex: 1;
}

a{
  width: 20%;
  padding: 8px;
  font-size: 20px;
  border-radius: 11px;
  border: none;
  color: #fff;
  background-color: #6FDF73;
  margin-top: 18px;
  cursor: pointer;
      display: flex;
    justify-content: center;
}

a:hover{
  background-color:#569d59
}


#inputNome{
  flex: 6;
}
#inputCPF{
  flex: 3;
}
#inputidade{
  flex: 1;
}
#inputcep{
  flex: 1;
}
#inputBairro{
  flex: 1;
}
#inputComplemento{
  flex: 1;
}
#inputendereco{
  flex: 4;
}